version: '3'
services:
  app:
    build:
      context: .
    env_file:
      - ./environments/db.env
    command: bundle exec puma -C config/puma.rb
    volumes:
      - .:/nekoten
      - public-data:/nekoten/public
      - tmp-data:/nekoten/tmp
      - log-data:/nekoten/log
    environment:
      - DB_HOST=db
    depends_on:
      - db
  db:
    image: mysql:5.7
    env_file:
      - ./environments/db.env
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - 3306:3306
  web:
    build:
      context: containers/nginx
    volumes:
      - public-data:/nekoten/public
      - tmp-data:/nekoten/tmp
    ports:
      - 80:80
    depends_on:
      - app
volumes:
  public-data:
  tmp-data:
  log-data:
  db-data: