<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <div>
          <%= link_to image_tag("logo.png"), "/" %>
        </div>
        <h2>
          登録確認メールを送信
        </h2>
        <p>
          ご登録いただきましたアドレスに確認メールを送信いたしました。お手数ですがご確認ください。
        </p>
        <div>
          <%= link_to  "home", "/" %>
        </div>
      </div>
    </div>
  </div>
</div>