# circleCIのバージョン指定
version: 2
jobs:
  build:
    machine:
      image: circleci/classic:edge
    steps:
# Railsのテストを実行.
      - checkout
      # - run:
      #     name: docker-compose up
      #     command: docker-compose up -d
      # - run:
      #     name: sleep for launch db to migrate at Rails
      #     command: sleep 10
      # - run:
      #     name: migrate
      #     command: docker-compose run app rake db:create db:migrate
      # - run:
      #     name: test
      #     command: docker-compose run app bundle exec rspec
      # - run:
      #     name: docker-compose down
      #     command: docker-compose down
# EC2にSSH接続し、デプロイを実行
  deploy:
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      # CircleCIに登録した秘密鍵を呼び出す
      - add_ssh_keys:
          fingerprints:
            - "f8:bf:90:75:b7:9c:c9:ec:86:e0:a7:d3:ee:59:93:5c"
      - run: ssh ${USER_NAME}@${HOST_NAME} 'cd nekoten-production && git pull && docker-compose run app rake db:migrate'

# テストが成功した場合のみ、deployを実行するようにします
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          # masterブランチがpushされた場合のみdeployするようにする。
          filters:
            branches:
              only: master
              