<div class="card">
  <div class="card-body">
    <h1 class="card-title">
      <%= @user.name%>
      がフォローしているユーザー一覧
    </h1>
    <% if @user.followers.empty?%>
      フォロワーはいません
    <%end%>
    <% @user.followers.each do |user| %>
      <table>
        <tr>
          <td> <%= user.name %> </td>
          <td><%= link_to '詳細', user_path(user) %></td>
        </tr>
      </table>
    <%end%>
  </div>
</div>