// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blurBg{
  background: url("background.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.blurBg:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

#topstart {
  width: 80px;
  font-weight: normal;
  margin: 0px;
}
.top-start-button{
  text-align: center;
}

#wrapper {
  padding-top: 120px;
  text-align: center;
  background-color: white;
}

.fadein-animation{
  font-size: 20px;
  font-weight: bold;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes fadein {
from {
  opacity: 0;
  transform: translateY(20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}